manifest {
    description = 'FragPipe analysis'
    author = 'Patrick Pedrioli'
}

params {
    workflow_fp = ''	// Set to desired FragPipe workflow
    manifest_fp = 'manifest.fp-manifest'
    database_fp = ''	// Set to desired database
    fragpipe_threads = 20 
}

process {
    cache = 'lenient'
    maxForks = 1	// Max number of parallel searches to run
}

dag {
    enabled = true
    file = 'search_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'search_report.html'
    overwrite = true
}
