manifest {
    description = 'FragPipe analysis'
    author = 'Patrick Pedrioli'
}

params {
    tools_folder = '/usr/local'
    diann = '/usr/local/diann/diann/diann-linux'
    python = '/lsiopy/bin/python'
    workflow_fp = ''	// Set to desired FragPipe workflow
    manifest_fp = 'manifest.fp-manifest'
    database_fp = ''	// Set to desired database
    fragpipe_threads = 20
    outdir = 'Results/FragPipe'
}

process {
    cache = 'lenient'
    
    withName: '.*:fragpipeSearch' {
	maxForks = 1	// Max number of parallel searches to run
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy'
        ]
    }
}

dag {
    enabled = true
    file = 'search_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'search_report.html'
    overwrite = true
}
